/* dark-theme.css */

.root {
    -fx-background-color: #323232; 
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white; 
}

.button {
    -fx-background-color: #555555; 
    -fx-text-fill: white; 
}

.combo-box {
    -fx-background-color: #555555; /* Dark gray background for combo boxes */
    -fx-text-fill: white; /* White text color for combo boxes */
}

.text-field {
    -fx-background-color: #555555; /* Dark gray background for text fields */
    -fx-text-fill: white; /* White text color for text fields */
}

.result-label {
    -fx-text-fill: blue; /* Blue text color for result label */
}
